<%- include("template/header", {WebTitle: "ERROR 404: Page not found"} )%>
  
    <h1><%= title404 %></h1>
    <h4>txt from 404.ejs</h4>
    <a href="/">click HERE to START</a>
    

<%- include("template/footer")%>