<%- include("template/header", {WebTitle: "Pagina de Servicios"} )%>

    <h1 class="text-primary">Title from servicios.js</h1>
    <h2 ><%= titleServices1 %></h2>



<%- include("template/footer")%>
